
/*------------------------------------*\
  #GLOBAL
\*------------------------------------*/

html {
  scroll-behavior: smooth;
}









/*------------------------------------*\
  #TEXT-STYLES 
\*------------------------------------*/

h1, h2, h3, h4, h5, h6 { /*reset for mobile browsers */

font-weight: normal;
letter-spacing: -0.002em;
}


h1 {
  font-size: 8vw;
  line-height: 1.1;
  line-break: auto;
  font-family: 'GT-America-Extended-Regular';
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  padding-bottom: 4%;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern"1;
  font-feature-settings: "kern"1;
  white-space: nowrap;
}


@media screen and (min-width: 1440px) {
  h1{
    font-size: 8vw;
  }
}


@media screen and (min-width: 2000px) {
  h1{
    font-size: 6vw;
}
}

h2 {
  font-family: 'GT-America-Extended-Regular';
  font-weight: 400;
  color:#ffffff;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern"1;
  font-feature-settings: "kern"1;
  display: block;
  font-size: 2.5em;
  margin-block-start: 8px;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
		margin-inline-end: 0px;
		max-width: 700px;
}


h3 {
  font-size: 1.5rem;
  font-family: 'GT-America-Extended-Regular';
  color: #ffffff;
  margin-block-start: 1em;
  margin-block-end: .2em;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern"1;
  font-feature-settings: "kern"1;
}

body {
  background-color: #06061C;
  padding: 0;
  margin: 0;
  font-family: 'GT-America-Standard-Regular';
  font-size: 1rem;
}


span {
  margin-bottom: 12px;
}


p {
  color: 042082;
  font-size: 1.5rem;
  font-family: 'GT-America-Standard-Regular';
  color: #ffffff;
		line-height: 2.2rem;
		margin-block-start: .5em;
  margin-block-end: .5em;
}


.white{
	color: #ffffff;
  padding-bottom: 15px;
  font-family: 'GT-America-Extended-Regular';
}


.body-copy {
    color: 042082;
    font-size: 1.5rem;
    font-family: 'GT-America-Standard-Regular';
    color: #ffffff;
    line-height: 2.2rem;
    margin-block-start: .1em;
    margin-block-end: .5em;
  }


.foliodescription {
  color: #ffffff;
  font-size: 1.1rem;
  line-height: 1.5rem;
  font-family: 'GT-America-Extended-Regular';
  margin-block-end: .1rem;
}


.foliodescription span {
  color: #ffffff;
}


.numbers {
  font-size: 1rem;
		font-family: 'GT-America-Extended-Regular';
		color: #ffffff;
  text-rendering: optimizeLegibility;
}


.subhead {
  font-size: 1.5rem;
  font-family: 'GT-America-Extended-Regular';
  color: #ffffff;
  text-decoration: none;
  border-bottom: none;
  margin-block-start: .1em;
  margin-block-end: .1em;
}


.headertext {
  color: #ffffff;
  font-family: 'GT-America-Extended-Regular';
  font-size: 1.5rem;
  line-height: 2.6rem;
}


.footer-line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin-top: 250px;
  margin-bottom:100px;
  max-width: 1680px;
}


.NoLineLink-about {
  padding-right: 2rem;
  font-family: 'GT-America-Extended-Regular';
}


.NoLineLink-contact{
  font-family: 'GT-America-Extended-Regular';
}


.spacer-para{
	margin-bottom: 25px;
}


.centered{
  text-align: center;
  max-width: 300px;
}


header .nolinelink {
  margin-left: 4rem;
}


#contact-section a {
  margin-right: 5%;
  line-height: 2.6rem;
  font-family: 'GT-America-Extended-Regular';
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box
}

::selection {
  background: #7DF8F9; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #7DF8F9; /* Gecko Browsers */
}









/*------------------------------------*\
  #ANIMATIONS
\*------------------------------------*/


/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}









/*------------------------------------*\
  #LINK-STYLES
\*------------------------------------*/

a {
  font-size: 1.5rem;
  font-family: 'GT-America-Standard-Regular';
  color: #ffffff;
}


.link {
  font-size: 1.5rem;
  text-decoration: none;
  text-decoration: underline;
  text-decoration-color: #7DF8F9;
  display: inline-block;
  position: relative;
  z-index: 999;
}


.paragraph-link {
  font-family: 'GT-America-Standard-Regular'
}

a:hover {
  color:  #7DF8F9;
  transition: 0.3s ease-in-out; 
}

a.NoLineLink {
  font-size: 1.5rem;
  text-decoration: none;
  color: #9C9CB1;
}

a.NoLineLink:link {
  text-decoration: none;
  color: #9C9CB1;
	border-bottom: none;
}

a.NoLineLink:hover {
  color: #7DF8F9;
		transition: color 0.3s ease-in-out 0s;
}


.subhead {
  text-decoration: none;
  border-bottom: none;
}

.subhead:link {
  text-decoration: none;
  border-bottom: none;
}


a.headertext {
  border-bottom: none;
}

.photo-wrapper{
  position: relative;
  margin-bottom: 1em;
  margin-top: 2rem;
}

.photo {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
}

.photo-wrapper::before{
  transition: all .3s ease-in-out;
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #7DF8F9; 
  z-index: 2;
  mix-blend-mode: color;
  opacity: 0;
}

.project-link:hover .photo-wrapper::before {
  opacity: 1;
}


.project-link {
  display: block;
  position: relative;
  margin-right: auto;
  width: 66.66%;
}

.project-link:nth-child(2n) {
  margin-left: auto;
  margin-right: 0;
}


.project-link:hover .imgsection>.subhead {
  color: #7DF8F9;;
  text-decoration: none;
}

a.project-link {
  border: none;
  text-decoration: none;
}

a.project-link:visited {
  border: none;
  text-decoration: none;
}









/*------------------------------------*\
  #WRAPPERS AND COLS
\*------------------------------------*/

#page {
  max-width: 1440px;
  margin: 0 auto;
}

.content-center{
  display: block;
  text-align: center;
  margin-top: 50px;
}

.narrow-col{
  margin: 0 auto;
  max-width: 920px;
  padding-left: 4%;
  padding-right: 4%;
}

.wide-col{
  padding-left: 4%;
  padding-right: 4%;
  max-width: 1400px;
  margin: 0 auto;
}

.wide-col-left{
  padding-right: 6%;
  padding-left: 5%;
  max-width: 1400px;
}

.extrawide-col {
  margin: 0 auto;
  margin-top: 0px;
  margin-right: 5%;
  margin-bottom: 0px;
  margin-left: auto;
  max-width: 600px;
  padding-left: 4%;
  padding-right: 4%;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 8%;
  font-family: 'GT-America-Extended-Regular';
  max-width: 1440px;
  padding-left: 6%;
  padding-right: 6%;
  position: sticky;
  z-index: 999;
}

.paragraphSection {
  margin-bottom: 10%;
  position: relative; 
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0px auto;
  padding-left: 12%;
  padding-right: 12%;
}

.header-wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0px auto;
  padding-left: 6%;
  padding-right: 6%;
  margin-top: 3%;
  align-items: center;
  /* position: fixed; */
  overflow:auto;

}

.work {
  margin-bottom: 8%;
}

.wordsAndSpeaking {
  margin-top: 8%;
}


.big-text span {
  display: block;
}

.big-text-casestudy{
  text-align: center;
}

.responsible span{
  display: block;
}

.responsible{
  margin-top: 50px;
}


.case-study-hero-image{
  display: block;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.case-study-text {
  margin: 0 auto;
  margin-top: 40px;
  margin-right: 5%;
  margin-bottom: 0px;
  margin-left: auto;
  max-width: 600px;
  padding-left: 4%;
  padding-right: 4%;
}


.second-case-study {
  margin: 50%;
}

.imgsection {
  position: relative;
  margin-bottom: 12%;
}









/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

.smile img {
  -webkit-transition: -webkit-transform .6s ease-in-out;
          transition: transform .5s ease-in-out;
          z-index: 0;
          transform-origin: center;
        
}
.smile img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
          transform-origin: center;
          -webkit-animation-name: rotate; 
          animation-name: rotate; 
          -webkit-animation-duration: 0.7s; 
          animation-duration: 0.7s; 
          -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
          -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}



@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.paragraph {
max-width: 600px;
  margin-bottom: 45px;
}

.wide-max{
  max-width: 460px;
}

footer.wide-col {
  display: block;
  margin-top: 180px;
  margin-bottom: 10em;
  margin-left: auto;
  margin-right: auto;
  font-family: 'GT-America-Extended-Regular';
}









/*------------------------------------*\
  #WEB-FONTS
\*------------------------------------*/


@import url('https://rsms.me/inter/inter.css');

html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url("./webfonts/Inter-Regular.woff2") format("woff2"),
    url("./webfonts/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url("./webfonts/Inter-Regular.woff2") format("woff2"),
    url("./webfonts/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: 'GT-America-Extended-Regular';
  src: url('./webfonts/GT-America-Extended-Regular.woff2') format('woff2'), 
       url('./webfonts/GT-America-Extended-Regular.woff') format('woff');
}

@font-face {
  font-family: 'GT-America-Standard-Regular';
  src: url('./webfonts/GT-America-Standard-Regular.woff2') format('woff2'), 
       url('./webfonts/GT-America-Extended-Regular.woff') format('woff');
}


.small-photo{
  position: fixed;
  width: 663px;
  height: auto;
  display: block;
  right: 40px;
  top: 250px;
  z-index: -1;
}









/*------------------------------------*\
  #BREAK-POINTS
\*------------------------------------*/

/* --- Large Screen --- */

@media (min-width: 769px) and (max-width: 1024px) {
  h1 {
    /* background-color: purple; */
    font-size: 9vw;
  }

  .wordsAndSpeaking {
    margin-top: 15%;
    margin-bottom: 8%;
  }


}

/* --- Tablet --- */

@media (min-width: 321px) and (max-width: 768px) {
  h1 {
    /* background-color: blue; */
    font-size: 9vw;
  }

  .project-link{
    width: 100%;
  }

  .small-photo{
    position: relative;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
  }

  .wordsAndSpeaking {
    margin-top: 15%;
    margin-bottom: 20%;
  }

  .header-wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0px auto;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 5%;
    align-items: center;
  }

  .flex-container {
    flex-wrap: wrap;
  }


  .photo {
    max-width: 100%;
    height: auto;
  }

  .imgsection {
    margin-bottom: 8%;
  }

  .wrapper {
    width: 100%;
    max-width: 100%;
    margin: 0px auto;
    padding-left: 5%;
    padding-right: 5%;
  }

  header .NoLineLink-contact {
    display: none;
  }

  header {
    margin-top: 12%;
  }

  .wide-col-left {
    padding-right: 4%;
    padding-left: 5%;
    max-width: 1400px;
  }

  .extrawide-col {
    margin: 0 auto;
    margin-top: 0px;
    margin-right: 0%;
    margin-bottom: 0px;
    margin-left: auto;
    max-width: 600px;
    padding-left: 4%;
    padding-right: 4%
  }

  footer.wide-col {
    display: block;
    margin-top: 15%;
    margin-bottom: 15%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'GT-America-Extended-Regular';
  }
  

.paragraphSection {
  padding-bottom: 2rem;
  /* margin-bottom: 12%; */
}

.footer-line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin-top: 20px;
  margin-bottom:50px;
  max-width: 1680px;
}

}

/* --- Mobile --- */

@media (max-width: 320px) {
  h1 {
    /* background-color: green; */
    font-size: 10vw;
  }

  .small-photo{
    position: relative;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;

  }

  .project-link {
    display: inline;
    position: relative;
    margin-right: auto;
    width: 66.66%;

  }


  h2 {
    font-size: 2rem;
  }

  .header-wrapper {
    padding-left: 5%;
    align-items: center;
  }


  header .NoLineLink-contact {
    display: none;
  }


  a.headertext {
    font-size: 1.2rem;
  }  


  .paragraphSection {
    padding-bottom: 2rem;
    margin-bottom: 12%;
  }

  footer {
    padding-bottom: 20%;
  }

  .subhead {
    font-size: 1.2rem
  }


  header {
    margin-top: 15%;
    padding-top: 5%;

  }


  .wordsAndSpeaking {
    margin-top: 15%;
    margin-bottom: 20%;
  }


  .flex-container {
    flex-wrap: wrap;
  }


  .photo {
    max-width: 100%;
    height: auto;
  }


  .imgsection {
    margin-bottom: 8%;
  }


  .wrapper {
    width: 100%;
    max-width: 100%;
    margin: 0px auto;
    padding-left: 5%;
    padding-right: 5%;
  }


  .footer-line {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom:10px;
    max-width: 1680px;
  }

}
/*------------------------------------*\
  #END
\*------------------------------------*/