/* Text styles */


h1 {
  /* background-color: red; */
  font-size: 9vw;
  line-height: 1.1;
  line-break: auto;
  font-family: 'gt_americablack';
  font-weight: normal;
  font-style: normal;
  color:#042082;
  padding-bottom: 2%;
  text-rendering:optimizeLegibility;
  -webkit-font-feature-settings: "kern" 1;
  white-space: nowrap;
  /* margin-block-start: 0px; 
  margin-block-end: 8%; */
}
@media (min-width: 769px) and (max-width: 1024px) {
  h1 {
    /* background-color: purpleq; */
    font-size: 9vw;
  }
}
/* Tablet */
@media (min-width: 321px) and (max-width: 768px) {
  h1 {
    /* background-color: blue; */
    font-size: 9vw;
  }
}
/* Mobile */
@media (max-width: 320px) {
  h1 {
    /* background-color: green; */
    font-size: 9vw;
  }
}

.foliodescription {
color:#65719B;
font-size: 1.2rem;
line-height: 1.5rem;
font-family: 'gt_americaregular';
margin-block-end: .1rem;
}

.foliodescription span {
  color:#042082;
}



.subhead{
  font-size: 1.5rem;
  font-family: 'gt_americabold';
  color:#042082;
  text-decoration: none;
  border-bottom: none;
  margin-block-start: .1em;
  margin-block-end: .1em;
}


.headertext{
  color:#042082;
  font-family: 'gt_americaregular';
  font-size: 1.5rem;
  line-height: 2.6rem;
}

header .nolinelink {
  margin-left: 4rem;
}

h2 {
  font-size: 2rem;
  font-family: 'gt_americabold';
  color:#042082;
  text-rendering:optimizeLegibility;
  -webkit-font-feature-settings: "kern" 1;
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 800;
}

h3 {
  font-size: 1.5rem;
  font-family: 'gt_americabold';
  color:#042082;
  margin-block-start: 1em;
  margin-block-end: .2em;
  text-rendering:optimizeLegibility;
  -webkit-font-feature-settings: "kern" 1;
}

body {
  background-color: #FEFAF6;
  padding:0; 
  margin:0;
}

/* .pagebackground {
  background-color: #FEF4F1;
} */

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box
}

body {
  color:#042082;
  font-family: 'gt_americaregular';
  font-size: 1rem
}

p {  color: 042082;
  font-size: 1.5rem;
  font-family: 'gt_americaregular';
  color: #042082;
  line-height: 2.6rem;
  margin-block-start: .5em;
  margin-block-end: .5em;
  /* padding-bottom: 1rem; */
}

#contact-section a {
  margin-right: 5%;

}



/* Link styles */

a {
  font-size: 1.5rem;
  font-family: 'gt_americaregular';
  color:#042082;
  line-height: 2.6rem;
}

a:link {
  font-size: 1.5rem;
  text-decoration: none;
  border-bottom: 2px solid;
  border-color:  #828CB1;
}

/* visited link */
a:visited {
  color:#042082;
  border-color:  #CECDD2;
}

a:hover {
  border-color: #CECDD2;
  text-decoration: line-through;
  border-bottom: none; 
  color: #CECDD2;
}


a.NoLineLink {
  font-size: 1.5rem;
  text-decoration: none;
  padding-bottom: 3px;
  color: #828CB1;
}


a.NoLineLink:link {
  text-decoration: none;
  padding-bottom: 3px;
  color: #828CB1;
  border-bottom: none;
}

a.NoLineLink:hover {
  color:#042082;
  transition: color 0.2s ease-in-out 0s;
}


.subhead{
  text-decoration: none;
  border-bottom: none;
}

.subhead:link{
  text-decoration: none;
  border-bottom: none;
}

/* .subhead:hover{
  color: #828CB1;
} */
 

a.headertext {
  border-bottom: none;
}

.photo {
  transition: all .2s ease-in-out;
  position: relative;
  width: 682px;
  height: 500px;

}

.project-link {
  position: relative;
  margin-right: auto;

}

.project-link:nth-child(2n) {
  margin-left: auto;
  margin-right: 0;  
}


/* .project-link:hover .imgsection > .photo {
  text-decoration: none;
  -webkit-filter:  hue-rotate(20deg);
} */


.project-link:hover .imgsection > .photo {
  text-decoration: none;
  opacity: 0.8;
}



.project-link:hover .imgsection > .subhead{
  color: #828CB1;
  text-decoration: none;
}

a.project-link {
  border: none;
  text-decoration: none;
}

a.project-link:visited {
  border: none;
  text-decoration: none;
}




/* Section styles */

header {
  display:flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 15%;
  font-family: 'gt_americaregular';
}

.paragraphSection {
  margin-bottom: 6%;
}

.wrapper{
    width: 100%;
    max-width: 1440px;
    margin: 0px auto;
    padding-left: 5%;
    padding-right: 5%; 
}

.work{
  margin-bottom: 8%;
}

.wordsAndSpeaking {
  margin-top: 8%;
}

.big-text {
  max-width: 1000px;
}
.big-text span {
  display: block;
}

.flex-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.second-case-study{
  margin: 50%;
}

.imgsection{
  position: relative;
}
@media (max-width: 600px) {
  .imgsection{
    margin-right: 40px;
  }
}

.paragraph {
  max-width: 750px;
}

footer {
  display:block;
  margin-top: 15%;
  margin-bottom: 5%;
  font-family: 'gt_americaregular';
}




/*  Media Query  */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (max-width: 600px) {
  /* h1 {font-size: 70px;line-height: 60px; padding-bottom: 5%;} */
}

@media (max-width: 800px) {
  /* h1 {font-size: 45px;line-height: 60px; padding-bottom: 5%;} */
.flex-container {flex-wrap: wrap;}


.photo {
  max-width: 100%;
  height: auto;
} 

.imgsection {
  margin-bottom: 8%;
}

.wrapper{
  width: 100%;
  max-width: 100%;
  margin: 0px auto;
  padding-left: 5%;
  padding-right: 5%;
}

/* p {  
  margin-block-start: 1em;
  margin-block-end: 1em;
} */

header .nolinelink {
  display: none;
}

header {
  margin-top: 12%;
}

}


@media only screen 
    and (device-width : 375px) 
    and (device-width: 320px)
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {
      .flex-container {flex-wrap: wrap;}

      h1 {font-size: 45px;line-height: 60px; padding-bottom: 5%;}
      .flex-container {flex-wrap: wrap;}


      .photo {
        max-width: 100%;
        height: auto;
      } 
      
      .imgsection {
        margin-bottom: 8%;
      }
      
      .wrapper{
        width: 100%;
        max-width: 100%;
        margin: 0px auto;
        padding-left: 5%;
        padding-right: 5%;
      }
      
      p {  
        margin-block-start: 1em;
        margin-block-end: 1em;
      }
      
      header .nolinelink {
        display: none;
      }
      
      header {
        margin-top: 12%;
      }
      

     }




/* Webfonts */

@font-face {
    font-family: 'gt_americablack';
    src: url('./webfonts/gt-america-black-webfont.woff2') format('woff2'),
         url('./webfonts/gt-america-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gt_americabold';
    src: url('./webfonts/gt-america-bold-webfont.woff2') format('woff2'),
         url('./webfonts/gt-america-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gt_americalight';
    src: url('./webfonts/gt-america-light-webfont.woff2') format('woff2'),
         url('./webfonts/gt-america-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gt_americaregular_italic';
    src: url('./webfonts/gt-america-regular-italic-webfont.woff2') format('woff2'),
         url('./webfonts/sgt-america-regular-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gt_americaregular';
    src: url('./webfonts/gt-america-regular-webfont.woff2') format('woff2'),
         url('./webfonts/gt-america-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

