
/*------------------------------------*\
  #GLOBAL
\*------------------------------------*/

html {
  scroll-behavior: smooth;
}



/* trainign wheels  */
/* 
*{
  border-style: solid;
  border-width: 1px;
  border-color: red;
} */



/*------------------------------------*\
  #TEXT-STYLES 
\*------------------------------------*/

h1, h2, h3, h4, h5, h6 { /*reset for mobile browsers */

font-weight: normal;
letter-spacing: -0.002em;
}


h1 {
  font-size: 8vw;
  line-height: 1;
  line-break: auto;
  font-family: 'MabryPro-Regular';
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  padding-bottom: 2%;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern"1;
  font-feature-settings: "kern"1;
  white-space: nowrap;
}


@media screen and (min-width: 1440px) {
  h1{
    font-size: 7vw;
  }

  


}


@media screen and (min-width: 2000px) {
  h1{
    font-size: 9rem;
}

.wrapping-large-text{
  font-size: 7rem;;
}

}

h2 {
  font-family: 'MabryPro-Regular';
  font-weight: 400;
  color:#ffffff;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern"1;
  font-feature-settings: "kern"1;
  display: block;
  font-size: 2.5em;
  margin-block-start: 8px;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
		margin-inline-end: 0px;
		max-width: 700px;
}


h3 {
  font-size: 2rem;
  font-family: 'MabryPro-Regular';
  color: #ffffff;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern"1;
  font-feature-settings: "kern"1;
}


h4{
  font-size: 1rem;
  font-family: 'MabryPro-Regular';
  color: #ffffff;
  margin-block-start: 1em;
  margin-block-end: .2em;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern"1;
  font-feature-settings: "kern"1;
}

body {
  background-color: #06061C;
  padding: 0;
  margin: 0;
  font-family: 'MabryPro-Regular';
  font-size: 1rem;
}

.header-wrapper span {
  margin-bottom: 0;
}


span {
  margin-bottom: 12px;
}

.spanafter {
  margin-bottom: 4px; 
}

.wrapping-large-text{
  font-size: 5rem;
  line-height: 1.1;
  line-break: auto;
  font-family: 'MabryPro-Regular';
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  padding-bottom: 4%;
  padding-top: 4%;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern"1;
  font-feature-settings: "kern"1;
  
}



p {
  color: 042082;
  font-size: 1.5rem;
  font-family: 'MabryPro-Regular';
  color: #ffffff;
  line-height: 1.9rem;

		margin-block-start: .5em;
  margin-block-end: .5em;
}

.subtext{
  font-size: 8rem;
  line-height: 1.1;
  line-break: auto;
  font-family: 'MabryPro-Regular';
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  padding-bottom: 10%;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern"1;
  font-feature-settings: "kern"1;
  white-space: nowrap;
}

.white{
	color: #ffffff;
  padding-bottom: 15px;
  font-family: 'MabryPro-Regular';
}


.body-copy {
    color: 042082;
    font-size: 1.5rem;
    font-family: 'MabryPro-Regular';
    color: #ffffff;
    line-height: 2.2rem;
    margin-block-start: .1em;
    margin-block-end: .5em;
  }


.foliodescription {
  color: #ffffff;
  font-size: 1.1rem;
  line-height: 1.5rem;
  font-family: 'MabryPro-Regular';
  margin-block-end: .1rem;
}


.foliodescription span {
  color: #ffffff;
}


.numbers {
  font-size: 1rem;
		font-family: 'MabryPro-Regular';
		color: #ffffff;
  text-rendering: optimizeLegibility;
}


.subhead {
  font-size: 1.5rem;
  font-family: 'MabryPro-Regular';
  color: #ffffff;
  text-decoration: none;
  border-bottom: none;
  margin-block-start: .1em;
  margin-block-end: .1em;
}


.headertext {
  color: #ffffff;
  font-family: 'MabryPro-Regular';
  font-size: 1.5rem;
  line-height: 2.6rem;
}


.footer-line {
  display: block;
  height: 1px;
  border: 0;
  /* border-top: 1px solid #cccccc26; */
  /* margin-top: 250px; */
  margin-bottom: 80px;
  max-width: 1680px;
}


.NoLineLink-about {
  padding-right: 2rem;
  font-family: 'MabryPro-Regular';
}


.NoLineLink-contact{
  font-family: 'MabryPro-Regular';
}


.spacer-para{
	margin-bottom: 25px;
}


.centered{
  text-align: center;
  max-width: 300px;
}


header-wraper .nolinelink {
  margin-left: 4rem;
}


#contact-section a {
  margin-right: 5%;
  line-height: 2.6rem;
  font-family: 'MabryPro-Regular';
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box
}

::selection {
  background: #1201F3; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #1201F3; /* Gecko Browsers */
}









/*------------------------------------*\
  #ANIMATIONS
\*------------------------------------*/


/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}


@keyframes rotateIn {
  0% { opacity: 0; transform: rotate(0deg); }
}

[data-scroll] {
  transform-origin: bottom;
}

[data-scroll].onscreen {
  animation: rotateIn 1s ease forwards;
}



/*------------------------------------*\
  #LINK-STYLES
\*------------------------------------*/

a {
  font-size: 1.5rem;
  font-family: 'GT-America-Standard-Regular';
  color: #ffffff;
}


.link {
  font-size: 1.5rem;
  text-decoration: none;
  text-decoration: underline;
  text-decoration-color: #1201F3;
  display: inline-block;
  position: relative;
  z-index: 999;
}


.paragraph-link {
  font-family: 'GT-America-Standard-Regular'
}

a:hover {
  color:  #1201F3;
  transition: 0.1s ease-in-out; 
}

a.NoLineLink {
  font-size: 1.5rem;
  text-decoration: none;
  color: #9C9CB1;
}

a.NoLineLink:link {
  text-decoration: none;
  color: #9C9CB1;
	border-bottom: none;
}

a.NoLineLink:hover {
  color: #1201F3;
		transition: color 0.3s ease-in-out 0s;
}


.subhead {
  text-decoration: none;
  border-bottom: none;
}

.subhead:link {
  text-decoration: none;
  border-bottom: none;
}


a.headertext {
  border-bottom: none;
}

.photo-wrapper{
  position: relative;
  margin-bottom: 1em;
  margin-top: 2rem;
}

.photo {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
}

.photo-wrapper::before{
  transition: all .2s ease-out;
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(18, 1, 243,0.7); 
  z-index: 2;
  mix-blend-mode: multiply;
  opacity: 0;
}

.project-link:hover .photo-wrapper::before {
  opacity: 1;
}


.project-link {
  display: block;
  position: relative;
  margin-right: auto;
  width: 66.66%;
}

.project-link:nth-child(2n) {
  margin-left: auto;
  margin-right: 0;
}


.project-link:hover .imgsection>.subhead {
  color: #1201F3;;
  text-decoration: none;
}

a.project-link {
  border: none;
  text-decoration: none;
}

a.project-link:visited {
  border: none;
  text-decoration: none;
}









/*------------------------------------*\
  #WRAPPERS AND COLS
\*------------------------------------*/

#page {
  max-width: 1800px;
  margin: 0 auto;
  /* overflow: hidden; */
}

.content-center{
  display: block;
  text-align: center;
  margin-top: 50px;
}

.narrow-col{
  margin: 0 auto;
  max-width: 920px;
  padding-left: 4%;
  padding-right: 4%;
}

.paramaxwidth{
  max-width: 560px;
}

.wide-col{
  padding-left: 4%;
  padding-right: 4%;
  max-width: 1400px;
  margin: 0 auto;
}

.wide-col-left{
  padding-right: 4%;
  padding-left: 8%;
  max-width: 1400px;
}

.extrawide-col {
  margin: 0 auto;
  margin-top: 0px;
  margin-right: 9%;
  margin-bottom: 0px;
  margin-left: auto;
  max-width: 520px;
  padding-left: 4%;
  /* padding-right: 4%; */
}



.begin-margin{
  margin-top: 5rem;
}



.paragraphSection {
  margin-bottom: 5%;
  position: relative; 
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0px auto;
  padding-left: 12%;
  padding-right: 12%;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: 'GT-America-Extended-Regular';
  max-width: 4000px;
  margin-top: 4rem;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  align-items: center;
  padding: 0 50px;
  overflow:hidden;
  max-width: 2500px;
  position: sticky;
  top: 4rem;
  z-index: 99;
  
}




.work {
  margin-bottom: 8%;
}

.wordsAndSpeaking {
  margin-top: 8%;
}


.big-text span {
  display: block;
}

.big-text-casestudy{
  text-align: center;
}


.responsible span{
  display: block;
}

.responsible{
  margin-top: 5%;
  margin-bottom: 5%;
}


.case-study-hero-image{
  display: block;
  width: 100%;
padding-left: 3%;
padding-right: 3%;
  margin-bottom: 100px;
}


.case-study-content-image{
  display: block;
  width: 70%;
  margin: 5rem auto;
  max-width: 70rem;
}

.borderedimage {
  border: 40px solid #21222B;
}



.case-study-text {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 0px;
  max-width: 560px;
}


.second-case-study {
  margin: 50%;
}

.imgsection {
  position: relative;
  margin-bottom: 12%;
}




.smile{
  width: 55px;
  display: block;
}

.smile span, .smile a {
  display: block;
}



/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

.smile img {
  -webkit-transition: -webkit-transform .6s ease-in-out;
          transition: transform .5s ease-in-out;
          z-index: 0;
          transform-origin: center;
          width: 55px;
          position: sticky;
          display: block;
        
}
.smile img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
          transform-origin: center;
          -webkit-animation-name: rotate; 
          animation-name: rotate; 
          -webkit-animation-duration: 0.7s; 
          animation-duration: 0.7s; 
          -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
          -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}


@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
  
.paragraph {
  margin-bottom: 1.3rem;
}

.wide-max{
  max-width: 560px;
}

footer.wide-col {
  display: block;
  margin-top: 180px;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  font-family: 'GT-America-Extended-Regular';
}



.frame{
  margin:auto;
  width: 100%;
  height: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  display: block;
}

.iframeclass{
   position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.iframewrapper {
  position: relative;
  overflow: hidden;
  padding-top: 30%;
}


/*------------------------------------*\
  #WEB-FONTS
\*------------------------------------*/


@import url('https://rsms.me/inter/inter.css');

html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

@font-face {
  font-family: 'MabryPro-Regular';
  src: url('./webfonts/MabryPro-Regular.woff2') format('woff2'),
      url('./webfonts/MabryPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}




@font-face {
  font-family: 'GT-America-Extended-Regular';
  src: url('./webfonts/GT-America-Extended-Regular.woff2') format('woff2'), 
       url('./webfonts/GT-America-Extended-Regular.woff') format('woff');
}

@font-face {
  font-family: 'GT-America-Standard-Regular';
  src: url('./webfonts/GT-America-Standard-Regular.woff2') format('woff2'), 
       url('./webfonts/GT-America-Extended-Regular.woff') format('woff');
}


@font-face {
  font-family: 'GTAmerica-ExpandedRegular';
  src: url('./webfonts/GTAmerica-ExpandedRegular.woff2') format('woff2'), 
       url('./webfonts/GTAmerica-ExpandedRegular.woff') format('woff');
}


@font-face {
  font-family: 'GTAmerica-ExpandedBlack';
  src: url('./webfonts/GTAmerica-ExpandedBlack.woff2') format('woff2'), 
       url('./webfonts/GTAmerica-ExpandedBlack.woff') format('woff');
}

@font-face {
  font-family: 'GTAmerica-ExtendedBold';
  src: url('./webfonts/GTAmerica-ExtendedBold.woff2') format('woff2'), 
     url('./webfonts/GTAmerica-ExtendedBold.woff') format('woff');
}

@font-face {
  font-family: 'GTAmerica-ExtendedMedium';
  src: url('./webfonts/GTAmerica-ExtendedMedium.woff2') format('woff2'), 
     url('./webfonts/GTAmerica-ExtendedMedium.woff') format('woff');
}

.small-photo{
  position: fixed;
  max-width: 760px;
  /* width: 663px; */
  height: auto;
  display: block;
  right: 2%;
  top: 200px;
  z-index: -1;  
  padding:15px;
}
  /* padding:15px;










/*------------------------------------*\
  #BREAK-POINTS
\*------------------------------------*/

/* --- Large Screen --- */

@media (min-width: 769px) and (max-width: 1024px) {
  h1 {
    /* background-color: purple; */
    font-size: 4.5rem;;
  }

  .NoLineLink-about {
    padding-right: 2rem;
  }


  .case-study-hero-image{
    padding-right: 1%;
    padding-left: 1%;
  }

  .subtext{
    font-size: 5rem;
    padding-top: 5%;
  }


  .wordsAndSpeaking {
    margin-top: 15%;
    margin-bottom: 8%;
  }


  .wrapping-large-text{
    font-size: 4rem;
    margin-top: 2%;
  }
  /* .case-study-content-image{
    display: block;
    width: 100%;
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 5%;
  } */



}

/* --- Tablet --- */
/* Iphone 6s, 7, 8  and X */

@media (min-width: 321px) and (max-width: 768px) {
  h1 {
    /* background-color: blue; */
    font-size: 10.5vw;
  }

  .mob-margin-top {
    margin-top: 6rem;
  }

  
.smile img {
  width: 40px;
}

.NoLineLink-about {
  padding-right: 0rem;
}



.smile{
  width: 40px;
  display: block;
}

.smile span, .smile a {
  display: block;
}


  .wrapping-large-text{
    font-size: 3rem;
    margin-top: 1%;
    margin-bottom: 2rem;
  }

  .borderedimage {
    border: 20px solid #21222B;
  }

  .case-study-hero-image{
    padding-right: 0%;
    padding-left: 0%;
    margin-bottom: 30px;
  }

  .case-study-text{
    margin-left: 5%;
    margin-right: 5%;
  }

  .case-study-content-image{
    width: 90%;
    margin: 5%;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
  }



/* 
  .case-study-content-image{
    display: block;
    width: 100%;
    margin-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 5%;
  } */

  h2{
    font-size: 2rem;
  }

  .subtext{
    font-size: 2.5rem;
    padding-top: 12%;
  }

  .project-link{
    width: 100%;
  }

  .small-photo{
    position: relative;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    opacity: 100;
  }

  .wordsAndSpeaking {
    margin-top: 15%;
    margin-bottom: 20%;
  }

  .header-wrapper {
    width: 100%;
    max-width: 1440px;
    top: 2rem;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 20px;
    align-items: center;
    padding-bottom: 20px;
  }

  .flex-container {
    flex-wrap: wrap;
  }


  .photo {
    max-width: 100%;
    height: auto;
  }

  .imgsection {
    margin-bottom: 8%;
  }

  .wrapper {
    width: 100%;
    max-width: 100%;
    margin: 0px auto;
    padding-left: 5%;
    padding-right: 5%;
  }

  .header-wrapper .NoLineLink-contact {
    display: none;
  }



  .wide-col-left {
    padding-right: 4%;
    padding-left: 5%;
    max-width: 1400px;
  }

  .extrawide-col {
    margin: 0 auto;
    margin-top: 0px;
    margin-right: 0%;
    margin-bottom: 0px;
    margin-left: auto;
    max-width: 600px;
    padding-left: 4%;
    padding-right: 4%
  }

  footer.wide-col {
    display: block;
    margin-top: 15%;
    margin-bottom: 15%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'GT-America-Extended-Regular';
  }
  

.paragraphSection {
  margin-bottom: 5.5rem;
}

.paragraph{
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.footer-line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin-top: 20px;
  margin-bottom:50px;
  max-width: 1680px;
}

}

/* --- Mobile --- iphone 5s */

@media (max-width: 320px) {
  h1 {
    /* background-color: green; */
    font-size: 9vw;
    line-height: 26px;
    margin-top: 20px;
    padding-top: 2rem;
  }



  

.big-text{
  margin-left: .5rem;

}

.smile a {
  display: block;
}

.smile span, .smile a {
  display: block;
}



.wide-col-left{
  padding-left: 2%;
}

.smile{
  width: 40px;
  display: block;
}



a.NoLineLink {
  font-size: 1.2rem;
} 


  .smile img {
    width: 40px;
    display: block;

  }

  .paragraph{
    font-size: 1.2rem;
    line-height: 1.6rem;
  }


  .borderedimage {
    border: 10px solid #21222B;
  }

  .wrapping-large-text{
    font-size: 2rem;
    margin-top: 5%;
  }
 


  .case-study-text{
    margin-left: 5%;
    margin-right: 5%;
  }

.case-study-content-image{
  width: 90%;
  margin: 5%;
  margin-top: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
}


  .subtext{
    font-size: 2.5rem;
    padding-top: 10%;
  }

  .small-photo{
    position: relative;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    opacity: 100;

  }

  .project-link {
    display: inline;
    position: relative;
    margin-right: auto;
  }


  h2 {
    font-size: 2rem;
  }



  .header-wrapper {
    width: 100%;
    max-width: 1440px;
    top: 2rem;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 20px;
    align-items: center;
    padding-bottom: 5px;
  }


.NoLineLink-about{
  padding-right: 0;
}

  .header-wrapper .NoLineLink-contact {
    display: none;
  }


  a.headertext {
    font-size: 1.2rem;
  }  


  .paragraphSection {
    padding-bottom: 2rem;
    margin-bottom: 12%;
  }

  footer {
    padding-bottom: 20%;
  }

  .subhead {
    font-size: 1.2rem
  }


  header-wraper {
    margin-top: 15%;
    padding-top: 5%;

  }


  .wordsAndSpeaking {
    margin-top: 15%;
    margin-bottom: 20%;
  }


  .flex-container {
    flex-wrap: wrap;
  }


  .photo {
    max-width: 100%;
    height: auto;
  }


  .imgsection {
    margin-bottom: 8%;
  }


  .wrapper {
    width: 100%;
    max-width: 100%;
    margin: 0px auto;
    padding-left: 5%;
    padding-right: 5%;
  }


 
}
/*------------------------------------*\
  #END
\*------------------------------------*/